body {
    margin: 0;
}

#game {
  display: grid;
  cursor: pointer;
}

#share input {
    width: 300px;
}

.tile {
  text-align: center;
  /* border: 1px solid black; */
}

.selected {
    border: 1px solid black;
}
