body {
    margin: 0;
    /* background-color: #27ae60; */
}

#game {
  display: grid;
  cursor: pointer;
}

#ui {
    margin: 10px;
}

#share input {
    width: 300px;
}

#seed * {
    display: inline-block;
}

#moves * {
    display: inline-block;
}

.tile {
  box-sizing: border-box;
  text-align: center;
  /* border: 1px solid black; */
}

.tile img {
    width: 100%;
    height: 100%;
}

.selected {
    border: 1px solid black;
}
